body {
  min-height: 2000px;
  padding-top: 70px;
}
p{
    text-align: justify;
}
.table.answers i.glyphicon.glyphicon-ok{
    color: #1cce1c;
    font-size: 20px;
}
.table.answers i.glyphicon.glyphicon-remove{
    color: #f52727;
    font-size: 20px;
}