{% extends 'base_layout.html' %}
{% load staticfiles %}
{% load i18n %}

{% block content %}
    <table class="table table-hover">
        <thead>
          <tr>
            <th>#</th>
            <th>{% trans "Username" %}</th>
            <th>{% trans "Points" %}</th>
          </tr>
        </thead>
        <tbody>
          {% for row in rating %}
              <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{ row.user.username }}</td>
                <td>{{ row.points }}</td>
              </tr>
          {% endfor %}
        </tbody>
    </table>
{% endblock %}
